/*logo design */
.logo-white-header{
    color:#FE4365;
background-color: #ffffff; 
padding: 5px 10px;
font-family: 'Open Sans', sans-serif;}

.navbar-nav a{
text-transform:uppercase;
}
.header-div{
    padding:50% 0;
}

#header-text{
color:#ffffff;
    opacity:0;
    font-weight: 300;
}

body{
font-family: 'Open Sans', sans-serif;
font-weight:400;
}

.link_block{
margin:20px 0px;
}
.link_btn {
border: 3px solid #ffffff;
padding: 5px 5px;
color: #ffffff;
text-transform: uppercase;
text-decoration: none;
position: relative;
text-align: center;

letter-spacing: 1px;
transition: 0.7s;
}

.link_btn:hover,.link_btn :focus {color:#e15b5f; background-color:#fff;text-decoration:none;}

#features_0{
background-color:#eeeeee;
}
/* */
.features{
font-size:1.2em;
text-align:center;
padding:50px 0px;
}
.feature-heading{
font-family: 'Playfair Display', serif;
font-weight:700;
font-style:italic;
color:#46433A;
}

#about{


}

.marketing  .feature-img {
border:3px solid #fff;
/*
-webkit-box-shadow:0 0 10px rgba(0,0,0,.3);
*/
}

#footer{
background-color:#FAC421;

}
.navbar-toggle .icon-bar{
background-color:#fff;}

.marketing .feature-sub{
color:#777;
padding:4px 10%;
}
/* header styling*/
#home-header{
/*background: url(../img/bg1366x768.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
*/
background-color:#FE4365;
	}

/*navigation link styling */
.navbar-nav > li > a{
color:#ffffff;
}
.navbar-nav > li > a:hover,
.nav > li > a:focus
{
background-color: rgba(0,0,0,.1);

}

#preloader {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
width: 100%;
height: 100%;
background-color: #FE4365;
z-index: 9999;
}

#status{
top:50%;
left:50%;
position:absolute;
}


/* css spinner */
.sk-spinner-wave.sk-spinner {
  margin: 0 auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px; }
.sk-spinner-wave div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
          animation: sk-waveStretchDelay 1.2s infinite ease-in-out; }
.sk-spinner-wave .sk-rect2 {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-spinner-wave .sk-rect3 {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-spinner-wave .sk-rect4 {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-spinner-wave .sk-rect5 {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
@-webkit-keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }
@keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }
			
			/* End */
			
			
			
			/*######################################*/
/*ARROWS and SEPARATOR #################*/
/*######################################*/

.arrows_box {
    width:100%;
    height:1.5rem;
    position: relative;
    border-bottom: solid 1px #f0f0f0;
}

.arrows_box_bg {
    margin-top:-1.45rem;
    background:none;
}

.arrows_no_border {
    border-bottom:none;
}

.arrows {
    display:inline;
    left:50%;
    margin-bottom:1.5rem;
    margin-left:-3.1rem;
    position:relative;
    z-index:999;
}

.arrow_single {
    display:inline;
    left:50%;
    margin-bottom:1.5rem;
    margin-left:-1.55rem;
    position:relative;
    z-index:999;
}

.arrow_down {
    margin:0;
    width: 3rem;
    height: 3rem;
    padding:0.2rem;
    background-color:white;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    transform:rotate(89deg);
    -webkit-transform:rotate(89deg);
    -moz-transform:rotate(89deg);
    -o-transform:rotate(89deg);
    -ms-transform:rotate(89deg);
    ms-transform:rotate(89deg);
}

.arrow_up {
    margin:0;
    width: 3rem;
    height: 3rem;
    padding:0.2rem;
    background-color:white;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    transform:rotate(89deg);
    -webkit-transform:rotate(89deg);
    -moz-transform:rotate(89deg);
    -o-transform:rotate(89deg);
    -ms-transform:rotate(89deg);
    ms-transform:rotate(89deg);
}

.arrow_down:hover, .arrow_up:hover {
    cursor: pointer;
}
.arrow_up,
.arrow_down {
    fill:#f0f0f0;
}

.arrow_down:hover,
.arrow_up:hover {
    fill:#dddddd;
}

arrows_box_bg {
    background-color:#f7f8fa;
}